body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}
div{
    /* background-color: #E4FBFF; */
    /* margin-top: 0px;
    margin-left: 0px;*/
}

h1{
    margin:50 auto 0 auto;
    /* font-family: 'Oleo Script Swash Caps', cursive; */
    font-family: 'Satisfy', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    /* line-height: 2; */
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size:2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-top: 0px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
a{
    color: #11999E;
}
a:hover{
    color: #EAF6F6;
}

.top-container{
    background-color: #E4FBFF;
    position: relative;
    padding-top: 100px;
}

.middle-container{
  /* background-color: white; */
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
  line-height: 2;
}

.copyright{
    color:#EAF6F6;
    font-size: 0.75rem;
}

.bottom-cloud{
    position: absolute;
    left:400px;
    bottom:300px;
    
}
.top-cloud{
    position: absolute;
    top:60px;
    right:400px;
}
.profile-photo{
    height: 150px;
    width:150px;
    margin-top: 50px;
}
.skill-frontend{
    /* height: 20%; */
    width:25%;
    height: 20%;
    float: right;
    margin-left: 30px;
}

.profile{
    /* background-color: red; */
}
.skills{
    /* background-color: blue; */
}
.coding{
    /* height: 25%; */
    width:25%;
    float: left;
    margin-right: 30px;
}
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
    
    
}

hr{
    border-style:none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width:5%;
    margin: 100px auto;
}

.contact-me{
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 2;
    text-align: center;
}
.btn {
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    text-shadow: 1px 1px 3px #666666;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    background: #66bfbf;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #2bc4ad);
    background-image: -moz-linear-gradient(top, #3cb0fd, #2bc4ad);
    background-image: -ms-linear-gradient(top, #3cb0fd, #2bc4ad);
    background-image: -o-linear-gradient(top, #3cb0fd, #2bc4ad);
    background-image: linear-gradient(to bottom, #3cb0fd, #2bc4ad);
    text-decoration: none;
  }

.footer-link{
    font-style: normal;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    color: #4C3575;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.contact-message{
    margin:40px auto 60px;
}